.add-product{
    border: none;
    background-color: transparent;
    color: #28a745;
    padding: 0;
}

.btn-close-custom {
  position: absolute;
  top: -25px;
  right: -22px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.2s;

  svg {
    width: 16px;
    height: 16px;
    color: #6c757d;
  }

  &:hover {
    background: #f2f2f2;
  }
}